
body {
	margin:0px;
	padding:0px;
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position: left top;
}

#content_container {
	margin:0px;
	width:2250pxpx;
	height:700px;
	background-attachment: scroll;
	background-image: url(../images/Untitled-4.png);
	background-repeat: no-repeat;
	background-position: center;
}

#logo_image {
	width:252px;
	height:76px;
	margin-left:10px;
	margin-top:15px;
	float:left;
background-image: url(../images/logo.PNG)
}

#top_bar_black {
	width:2640px;
	height:100px;
	background-color:#0000FF;
}
#bottom_bar_black {
	width:100%;
	height:160px;
	background-color:#000000;
}

#nav_block {
	width: 600px;
	height:90px;
	float:right;
}

.nav_button {
	width: 90px; 
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	margin-left:5px;
	margin-top:35px;
	text-align:center;
	float:left;
}
#fon_image{
	width:670px;
	height:3670px;
	margin-left:130px;
	margin-top:15px;
	float:left;
background-image: url(../images/1.PNG)

}
#text{
font-size:25px;
	color:#FF0000;
	width:700px;
	margin-left:-900px;
	margin-top:560px;
  font-style: italic;
}
#fon_image_1{
width:670px;
	height:3670px;
	margin-left:1760px;
	margin-top:1px;
	float:left;
background-image: url(../images/2.PNG)

}


.content_container{
font-size:35px;
	color:#FF0000;
	width:1px;
     	font-style: italic;
}


.header_content_mainline {
	font-size:35px;
	color:#FF0000;
	width:400px;
     	font-style: italic;
}

#copywriteblock {
	margin-left:auto;
	margin-right:auto;
	width:1250px;
	color:#333333;
	font-size:21px;
	margin-top:0px;
	text-align:right;
	text-decoration:none;
	margin-bottom:2px;
}